TE9UD2/EjerciciosDTD/Parte1/Libro.dtd

<!ATTLIST Libro isbn CDATA #REQUIRED>
<!ATTLIST Libro fecha CDATA #REQUIRED>
<!ATTLIST Libro paginas CDATA #REQUIRED>
<!ELEMENT Libro (Titulo, Abstract, Categorias, Precio)>
<!ELEMENT Titulo (#PCDATA)>
<!ELEMENT Abstract (#PCDATA)>
<!ELEMENT Categorias (Categoria+)>
<!ELEMENT Categoria (#PCDATA)>
<!ELEMENT Precio (#PCDATA)>
<!ATTLIST Precio moneda CDATA #REQUIRED>