TE9UD2/EjerciciosDTD/Parte1/Productos.dtd

<!ELEMENT Productos (Items+, Impuesto, Entrega, Total)>
<!ELEMENT Items (Volumen?, Cantidad?, Descripcion, Precio, Total)>
<!ELEMENT Volumen (#PCDATA)>
<!ELEMENT Cantidad (#PCDATA)>
<!ELEMENT Descripcion (#PCDATA)>
<!ELEMENT Precio (#PCDATA)>
<!ELEMENT Total (#PCDATA)>
<!ELEMENT Impuesto (#PCDATA)>
<!ELEMENT Entrega (#PCDATA)>